<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Commande - Mise à jour</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:9002/webjars/bootstrap/5.3.8/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <h1 class="text-center">Commande Mcommerce - Mise à jour</h1>
</div>
<form action="#" th:action="@{/commandes/majcom/}+${commande.id}" th:object="${commande}" method="post">
    <table class="table table-striped table-bordered">
        <tr>
            <td>Id de Commande:</td>
            <td><input type="text" th:object="${commande.id}" th:name="|id|" th:value="${commande.id}"/></td>
         </tr>
        <tr>
            <td>Id Produit:</td>
            <td><input type="text" th:object="${commande.productId}" th:name="|productId|" th:value="${commande.productId}" /></td>
 
        </tr>
<!--		<tr>-->
<!--		    <td>Date de commande: </td>-->
<!--		    <td><input type="datetime-local" th:object="${commande.dateCommande}" th:name="|dateCommande|" th:value="${commande.dateCommande}"/></td>-->

<!--		</tr>-->
		</tr>
		    <td>Quantité: </td>
		    <td><input type="number" th:object="${commande.quantite}" th:name="|quantite|" th:value="${commande.quantite}"/></td>
		</tr>
		</tr>
		    <td>Payée: </td>
		    <td><input type="text" th:object="${commande.commandePayee}" th:name="|commandePayee|" th:value="${commande.commandePayee}"/></td>

		</tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
<script type="text/javascript" src="http://localhost:9002/webjars/bootstrap/5.3.8/js/bootstrap.min.js"></script>
</body>

</html>