<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Mcommerce-Commander</title>

	<link rel="stylesheet" type="text/css" href="http://localhost:9000/webjars/bootstrap/5.3.8/css/bootstrap.min.css" />

</head>

<body>
	<div align="center" class="container">
		
		<h1>Application Mcommerce - Commande d'un article</h1>
		<div class="col-md-4 mx-auto mt-5 text-center">
			<div class="row">
				<table>
					<thead>
						<tr>
							<th th:text=${commande.titre} }></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img th:src="${produit.image}" style="width:100px;height:100px" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-4 mx-auto mt-5 text-center">	
		<div align="center" class="input-group mb-3 ">
		
			<form action="#" th:action="@{/commandes/passecommande/{commande.id}(commande.id=${commande.id})}" method="post"
				th:object="${commande.id}">
				<div class="input-group mb-3" >
					<label  class="input-group-text">ID commande:</label>
					<input type="text" class="form-control" th:field="${commande.id}" />
				</div>
				<div class="input-group mb-3">
					<label  class="input-group-text">Product ID:</label>
					<input type="text" class="form-control" th:field="${commande.productId}" />
				</div>
				<div class="input-group mb-3">
					<label  class="input-group-text">Titre:</label>
					<input type="text" class="form-control" th:field="${commande.titre}" />
				</div>
				<div class="input-group mb-3">
					<label  class="input-group-text">Prix:</label>
					<input type="text" class="form-control" th:field="${produit.prix}" />
				</div>
				<div class="input-group mb-3">
					<label  class="input-group-text">Quantité:</label>
					<input type="text" class="form-control" th:field="${commande.quantite}" />
				</div>
				<div class="input-group mb-3">
					<label  class="input-group-text">Payée:</label>
					<input type="text" class="form-control" th:field="${commande.commandePayee}" />
				</div>
				<button type="submit" value="post">Enregistrer</button>
			</form>
		</div>
	</div>
</div>
	<script type="text/javascript" src="http://localhost:9000/webjars/bootstrap/5.3.8/js/bootstrap.min.js"></script>
</body>

</html>