<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil Expedition</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:9006/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
</head>
<body>
<div>
	
    <h1 class="text-center">Expédition Mcommerce - Mise à jour</h1>
	
	</div>
	<!--  Tabelau de l'expédition à supprimmer -->
	<div>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
		    <tr>
		        <th>ID</th>
		        <th>ID Commande</th>
		        <th>Etat expédition</th>
	    	</tr>
		</thead>
		<tbody>
<!--	<div th:each="expedition : ${expedition}" class="col-md-4 my-1">-->
	
		    <tr th:each="expedition : ${expedition}">
			    <td th:text="${expedition.Id}">ID</td>
		        <td th:text="${expedition.CommandeId}">ID Commande</td>
		        <td th:text="${expedition.Etat}">Etat expédition</td>
			</tr>
			
		</tbody>
	</table>
</div>



<script type="text/javascript" src="http://localhost:9006/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>