<html>
	
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

	<title>Inscription</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:9005/webjars/bootstrap/5.3.8/css/bootstrap.min.css" />
</head>
<body>
<h1 class="text-center">Inscription</h1>
<form action="/login" th:object="${user}" method="POST" enctype="utf8">
<div align="center" class="container">
    <div>
        <label class="input-group-text" ></label>Prénom: <input th:field="*{firstName}"/>
        
        <p th:each="error: ${#fields.errors('firstName')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label class="input-group-text" ></label>Nom: <input th:field="*{lastName}"/>
        
        <p th:each="error : ${#fields.errors('lastName')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label class="input-group-text" ></label>Email: <input th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label class="input-group-text" ></label>Password: <input th:field="*{password}"/>
        
        <p th:each="error : ${#fields.errors('password')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label class="input-group-text" ></label>Confirm: <input th:field="*{password}"/>
    </div>
	<br
	<div>
    	<button type="submit" value="post">Enregistrer</button>
	<div>
</form>

	
	<div>	
	<script type="text/javascript" src="http://localhost:9005/webjars/bootstrap/5.3.8/js/bootstrap.min.js"></script>
	
</body>
</html>